# CivicLens CODEOWNERS
#
# GitHub usernames of each team member.

# /frontend/    @bharatijha12-sudo
# /backend/     @SnehaLakhotia
# /ai/          @shriyakumari257-cpu
# /gis/         @AnshuAryan91
# /data/        @Shivam-scripts
# /devops/      @UJJAWAL07-dev